<!DOCTYPE html>
<html> 
<head>
</head>
<style>

.img { 
width:100%;
height: auto;
top:0;
left:0;
position: relative; 
z-index: 1;
} 

.anybutton {
top:11%;
left:55%;
width:100px;
height:40px;
position: absolute;
z-index: 2;
background: orange; 
}

</style>
<body>
<style>

.img { 
width:100%;
height: auto;
top:0;
left:0;
position: relative; 
z-index: 1;
} 

.anybutton {
top:11%;
left:55%;
width:100px;
height:40px;
position: absolute;
z-index: 2;
background: orange; 
}

</style>

<h4>Text Buttons</h4>


<button style="background-color:blue;color:yellow;border-radius: 25%;font-size: 24px;" onclick="location.href='/input/'">WebScraper</button>
<button style="background-color:blue;color:yellow;border-radius: 25%;font-size: 24px;" onclick="location.href='/cleanup/'">Clean Data</button>
<button style="background-color:blue;color:yellow;border-radius: 25%;font-size: 24px;" onclick="location.href='/input/'">Input House Parameters</button>
<button style="background-color:blue;color:yellow;border-radius: 25%;font-size: 24px;" onclick="location.href='/main/'">Main Menu</button>
<button style="background-color:blue;color:yellow;border-radius: 25%;font-size: 24px;" onclick="location.href='/'">Check Server</button>
<button style="background-color:blue;color:yellow;border-radius: 25%;font-size: 24px;" onclick="location.href='/model/'">Select Model</button>
<button style="background-color:blue;color:yellow;border-radius: 25%;font-size: 24px;" onclick="location.href='/fit/'">Fit Model</button>
<button style="background-color:blue;color:yellow;border-radius: 25%;font-size: 24px;" onclick="location.href='/split/'">Split Data</button>
<button style="background-color:blue;color:yellow;border-radius: 25%;font-size: 24px;" onclick="location.href='/input/'">Customer View</button>



</body>

</html>