
{% block body %}

{% include 'navigator.html' %}

{% endblock %}

<html>
    <body>
  
        <h3>Customer view :</h3>
        <h3>""</h3>

<form action="/customerview_select/" method = "POST">
  <label for="models">Choose a model:</label>
  <select name="models" id="model">
  
       {% for m in modellist %}
                <tr>
                    <option value={{m[0]}}>{{m[1]}}</option>
                </tr>
        {% endfor %}
  

  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>

