<!DOCTYPE html>
<html> 
<head>
</head>

<style>
.buttonsContainer {
  display: flex;
  justify-content: space-between;
  background-color: DodgerBlue;
  flex-direction: columns;
}

.buttonsContainer > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  flex-direction: row;
  align-content: space-around;
}

.Container {
    text-align: center;
    }
</style>




<body>

<div class="Container">
<div>
<h4>  NAVIGATOR</h4>
</div>

<div class="buttonsContainer">
<button onclick="location.href='/webscraper/'">WebScraper</button>
<button onclick="location.href='/cleanup/'">Clean Data</button>
<button onclick="location.href='/split/'">Split Data</button>
<button onclick="location.href='/model/'">Select Model</button>
<button onclick="location.href='/fit/'">Fit Model</button>
<button onclick="location.href='/input/'">Input Parameters</button>
<button onclick="location.href='/input/'">Customer View</button>
<button onclick="location.href='/'">Check Server</button>
<button onclick="location.href='/main/'">Main Menu</button>
</div>
</div>
</body>

</html>