<form action="/main2/" method = "POST">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.button {
  background-color: #00008B; /* DarkBlue*/

  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1{border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}
</style>
</head>
<body>

<h3>Text Buttons</h3>

<button class="button button1">ScrapeData</button>
<button class="button button2">Clean</button>
<button class="button button3">FIT</button>
<button class="button button4">Predict</button>
<button class="button button5">Visualize</button>



<input type="submit" name="open" value="Open">
<input type="submit" name="close" value="Close">


</body>

</form>